<div class="container">
  <app-sidebar></app-sidebar>
  <main>
    <app-personal-info [ngStyle]="{'display': pageNumber === 1 ? 'block' : 'none'}"></app-personal-info>
    <app-plan [ngStyle]="{'display': pageNumber === 2 ? 'block' : 'none'}"></app-plan>
    <app-add-ons [ngStyle]="{'display': pageNumber === 3 ? 'block' : 'none'}"></app-add-ons>
    <app-summary [ngStyle]="{'display': pageNumber === 4 ? 'block' : 'none'}"></app-summary>
    <app-thankyou [ngStyle]="{'display': pageNumber === 5 ? 'block' : 'none'}"></app-thankyou>
    <div class="btns-container" [ngStyle]="{'justify-content':pageNumber===1? 'flex-end' :'space-between'}">
      <button *ngIf="pageNumber > 1 && pageNumber < 5" type="button" class="back-btn" (click)="minusPage()">Go
        Back</button>
      <button *ngIf="pageNumber===1" form="personal-form" type="submit" class="next-btn">Next Step</button>
      <button *ngIf="pageNumber > 1 && pageNumber < 4" type="button" class="next-btn" (click)="plusPage()">Next
        Step</button>
      <button *ngIf="pageNumber===4" type="submit" class="next-btn" (click)="plusPagewithoutCheck()">Confirm</button>
    </div>
  </main>
</div>
